$main_black: #424242;
$main-blue: #7db9e8;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Poppins;
}

.container {
    max-width: 1200px;
    padding: 0 32px;
    margin: 0 auto;
}

nav {
    position: fixed;
    z-index: 1000;
    background-color: white;
    width: 100%;

    #nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;

        .nav-ul {
            display: flex;
            gap: 20px;

            li {
                padding: 35px 5px;

                a {
                    text-decoration: none;
                    color: $main_black;
                }

                &:last-child {
                    a {
                        color: $main-blue;
                    }
                }

                &:hover {
                    a {
                        color: $main-blue ;
                        transition: color 0.4s ease;
                    }
                }
            }
        }

        .nav-menu {
            display: none;
        }
    }
}

#banner {
    padding-top: 300px;
    padding-bottom: 200px;
    background-attachment: fixed;
    background-image: url(images/server-banner.jpg.webp);

    .banner {
        display: flex;
        gap: 50px;

        .banner-image {
            max-width: 50%;


            img {
                max-width: 100%;

            }
        }

        .banner-text {
            width: 100%;

            .span {
                position: relative;

                &::before {
                    content: "Special Offer Now $10 ";
                    color: #fff;
                    background: #fc6428;
                    position: absolute;
                    padding: 20px 0;
                    text-align: center;
                    width: 400px;
                    left: 400px;
                    top: -108px;
                    font-size: 26px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-left: 25px solid transparent;
                    border-right: 25px solid transparent;
                    border-top: 50px solid #fc6428;
                    ;
                    left: 580px;
                    top: -46px;
                }
            }

            h1 {
                font-size: 50px;
                color: #fff;
                width: 100%;
                position: relative;
            }

            h2 {
                font-size: 36px;
                color: #fff;
                padding: 25px 0px 25px 0px;
                text-transform: uppercase;
                letter-spacing: .72px;
                font-weight: 300;
            }

            p {
                font-size: 16px;
                line-height: 28px;
                font-family: "Poppins", sans-serif;
                color: #fff;
                letter-spacing: .32px;
                padding-bottom: 25px;
            }

            .banner-ul {
                display: flex;
                flex-wrap: wrap;
                width: 80%;
                gap: 20px;
                padding: 25px 0px 50px 0px;
            }

            li {
                color: #fff;
                width: 40%;

                i {
                    margin-right: 20px;
                }


            }

            #banner-btn {
                color: #fff;
                background: #e64100;
                box-shadow: 0px 6px 11.83px 1.17px rgba(0, 0, 0, 0.08);
                padding: 12px 30px;
                border: none;
                cursor: pointer;
            }
        }
    }
}

#service {
    padding-top: 100px;
    padding-bottom: 100px;

    h1 {
        position: relative;
        margin: 0 auto;
        font-size: 35px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 50px;

        &::before {
            content: "";
            width: 60px;
            height: 2px;
            background: $main-black;
            position: absolute;
            bottom: -20px;
            right: 47%;
        }
    }

    #p {
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }

    .service {
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: center;

        .loadBtn {
            background-color: #e64100;
            border-radius: 10px;
            cursor: pointer;
            border: none;
            color: #fff;
            border: none;
            padding: 10px;
            min-width: 100px;
            width: 20%;
        }

        .sec2-boxs {
            padding-top: 50px;
            display: grid;
            gap: 30px;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .sec2-box {
                padding-top: 50px;
                margin: 0 auto;
                text-align: center;

                h2 {
                    padding: 25px 0px 18px;
                    font-weight: 400;
                    color: $main_black;
                    font-size: 20px;
                }

                p { 
                    font-size: 14px;
                    color: $main_black;
                    line-height: 1.5;
                    padding: 15px 0px 10px;
                }

                .sec2-box-btn {
                    padding: 5px;
                    background-color: #e64100;
                    border-radius: 10px;
                    cursor: pointer;
                    border: none;
                    color: #fff;
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }
}

#client {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #7db9e8;

    h1 {
        color: #fff;
        position: relative;
        text-align: center;
        font-size: 35px;
        margin-bottom: 50px;
        font-weight: 400;

        &::before {
            content: "";
            width: 60px;
            height: 2px;
            background: #fff;
            position: absolute;
            bottom: -20px;
            right: 47%;
        }
    }

    #p2 {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        color: #fff;
    }

    .client {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        color: #fff;

        .client-box {
            display: flex;
            gap: 20px;

            .client-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px;
                background-color: #fff;
                border-radius: 50%;
                border: 5px solid gray;

                i {
                    font-size: 30px;
                    margin: 0 auto;
                    color: #7db9e8;
                    text-align: center;
                }
            }
        }

    }
}

#latest {
    padding-top: 100px;
    padding-bottom: 100px;

    h1 {
        text-align: center;
        font-size: 35px;
        font-weight: 400;
        position: relative;
        margin-bottom: 50px;

        &::before {
            content: "";
            width: 60px;
            height: 2px;
            background: $main-black;
            position: absolute;
            bottom: -20px;
            right: 47%;
        }
    }

    p {
        padding-bottom: 50px;
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .latest {
        display: flex;
        gap: 30px;

        .latest-box {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
            border: 1px solid gray;
            padding-bottom: 50px;

            .latest-text {
                width: 80%;

                h2 {
                    font-size: 20px;
                    font-weight: 400;
                    color: #424242;
                    padding-bottom: 20px;
                }

                p {
                    color: #424242;
                    font-size: 14px;
                }
            }

        }

    }
}

#footer {
    border-top: 1px solid #6b6d6f;
    padding-top: 50px;
    padding-bottom: 50px;

    .footer {
        text-align: center;

        p {
            color: #6b6d6f;
            font-size: 16px;
        }
    }
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);

    // Modal Content
    .modal-content {
        position: relative;
        background-color: #fff;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
        height: 100%;

        // Close button
        .close {
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 25px;
            font-weight: bold;
            color: #6b6d6f;
            cursor: pointer;
        }

        .modal-ul {
            li {
                a {
                    color: $main_black;
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width:992px) {
    .container {
        padding: 0px 32px;
        margin: 0 auto;
    }

    nav {
        #nav {
            .nav-ul {
                display: none;
            }

            .nav-menu {
                display: block;
                font-size: 28px;
                padding: 10px;
                color: #6b6d6f;
                cursor: pointer;
            }
        }
    }

    #banner {
        .banner {
            flex-direction: column;
            align-items: center;

            .banner-text {
                width: 100%;

                .banner-ul {
                    width: 100%;
                }


                .span {
                    position: relative;

                    &::before {
                        content: "Special Offer Now $10 ";
                        color: #fff;
                        background: #fc6428;
                        position: absolute;
                        padding: 15px 0;
                        text-align: center;
                        width: 400px;
                        left: 100px;
                        top: -200px;
                        font-size: 26px;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 25px solid transparent;
                        border-right: 25px solid transparent;
                        border-top: 50px solid #fc6428;
                        ;
                        left: 280px;
                        top: -140px;
                    }
                }

                h1 {
                    font-size: 30px;
                }

                h2 {
                    font-size: 20px;
                }

                p {
                    width: 100%;
                }
            }

            .banner-image {
                max-width: 80%;

                img {
                    width: 100%;
                }
            }
        }
    }

    #service {
        #p {
            width: 80%;
        }

        .service {
            .sec2-boxs {
                grid-template-columns: 1fr 1fr;
                gap: 30px;
                width: 100%;

                .service-box {
                    width: 45%;
                    text-align: left;
                }

            }

        }

    }

    #client {
        .client {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .client-box {
                width: 100%;

                &:nth-child(n+4) {
                    display: none;
                }
            }
        }
    }

    #latest {
        .latest {
            flex-direction: column;
            align-items: center;

            .latest-box {
                width: 80%;

                img {
                    width: 100%;
                }

                .latest-text {
                    width: 95%;

                    h2 {
                        width: 100%;
                    }

                    p {
                        width: 100%;
                        text-align: left;
                    }
                }
            }
        }
    }

}

@media screen and (max-width:768px) {
    #banner {
        .banner {
            flex-direction: column;
            align-items: center;

            .banner-text {
                width: 100%;

                .span {
                    position: relative;

                    &::before {
                        content: "Special Offer Now $10 ";
                        color: #fff;
                        background: #fc6428;
                        position: absolute;
                        padding: 10px 0;
                        text-align: center;
                        width: 300px;
                        left: 0px;
                        top: -180px;
                        font-size: 20px;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 25px solid transparent;
                        border-right: 25px solid transparent;
                        border-top: 50px solid #fc6428;
                        ;
                        left: 140px;
                        top: -140px;
                    }
                }

                h1 {
                    font-size: 25px;
                }

                h2 {
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                    width: 100%;
                }
            }

            .banner-image {
                max-width: 80%;

                img {
                    width: 100%;
                }
            }
        }
    }

    #service {
        width: 100%;

        #p {
            width: 100%;
            font-size: 14px;
        }

        .service {
            .sec2-boxs {
                max-width: 100%;
                grid-template-columns: 1fr;
                width: 100%;

                .service-box {
                    width: 80%;
                }
            }
        }
    }

    #client {
        #p2 {
            width: 100%;
            font-size: 14px;
        }

        .client {
            .client-box {
                width: 100%;

                &:nth-child(n+3) {
                    display: none;
                }
            }
        }
    }

}